.pageheader {
    background-image: url("https://images.pexels.com/photos/40896/larch-conifer-cone-branch-tree-40896.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load");
    background-repeat: no-repeat;
    background-size: fill;
    background-position: center;
    margin: 0;
    color: rgb(233, 241, 245);
    height: 200px;
    padding-top: 2rem;
}

h2 {
    font-size: 2rem;
}

.cardscontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 2rem;

}